@charset 'utf-8';

/*全站*/
body{color:#666;font:.22rem/1.5 Helvetica,'Microsoft YaHei','simsun';word-wrap:break-word;}
body,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,li,ol,p,table,tr,th,td,form,input,textarea{margin:0;padding:0;}
body{-webkit-text-size-adjust:100%!important;}
ul,li,ol{list-style:none outside none;}
img{border:0 none;vertical-align:top;}
input,button,textarea,select,optgroup,option{font-family:Helvetica,'Microsoft YaHei','simsun';font-size:.22rem;font-style:inherit;font-weight:inherit;outline:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#666;font-size:.22rem;text-decoration:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
 input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none !important;margin:0;}
.fr{float:right;}
.fl{float:left;}
.nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.transition{-webkit-transition:all .3s ease-out;transition:all .3s ease-out;}
.clear{clear:both;height:0;width:0;overflow:hidden;}
.fix{*zoom:1;}
.fix:after{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden;}
.red{color:#fc3342;}
.blue{color:#369eee;}
.orange{color:#ff7828;}
.gray{color:#999;}
.black{color:#333;}
.yellow{color:#fca933;}
.white{color:#fff;}
.green{color:#27c327;}
.gray-bg{background:#f8f8f8;}
.white-bg{background:#fff;}
.hide{display:none;}
.hide-imp{display:none !important;}
.bold{font-weight:700;}
.block{display:block;}
.inline{display:inline-block;}
.hidden{overflow:hidden;}
.center{text-align:center;}
.underline{text-decoration:underline;}
.indent{text-indent:2em}
.tal{text-align:left;}
.tar{text-align:right;}
.line2{line-height:2;}
.justify{text-align:justify;}
.mt{margin-top:.25rem;}
.mb{margin-bottom:.25rem;}
.ml{margin-left:.25rem;}
.mr{margin-right:.25rem;}
.mt10{margin-top:.1rem;}
.mb10{margin-bottom:.1rem;}
.ml10{margin-left:.1rem;}
.mr10{margin-right:.1rem;}
.mt15{margin-top:.15rem;}
.mb15{margin-bottom:.15rem;}
.ml15{margin-left:.15rem;}
.mr15{margin-right:.15rem;}
.mt20{margin-top:.2rem;}
.mb20{margin-bottom:.2rem;}
.ml20{margin-left:.2rem;}
.mr20{margin-right:.2rem;}
.pt{padding-top:.25rem;}
.pb{padding-bottom:.25rem;}
.pl{padding-left:.25rem;}
.pr{padding-right:.25rem;}
.pt10{padding-top:.1rem;}
.pb10{padding-bottom:.1rem;}
.pl10{padding-left:.1rem;}
.pr10{padding-right:.1rem;}
.pt15{padding-top:.15rem;}
.pb15{padding-bottom:.15rem;}
.pl15{padding-left:.15rem;}
.pr15{padding-right:.15rem;}
.pt20{padding-top:.2rem;}
.pb20{padding-bottom:.2rem;}
.pl20{padding-left:.2rem;}
.pr20{padding-right:.2rem;}
.pt30{padding-top:.3rem;}
.pb30{padding-bottom:.3rem;}
.pl30{padding-left:.3rem;}
.pr30{padding-right:.3rem;}
.pt35{padding-top:.35rem;}
.pb35{padding-bottom:.35rem;}
.pl35{padding-left:.35rem;}
.pr35{padding-right:.35rem;}
.pt40{padding-top:.4rem;}
.pb40{padding-bottom:.4rem;}
.pl40{padding-left:.4rem;}
.pr40{padding-right:.4rem;}
.font14{font-size:.14rem;}
.font16{font-size:.16rem;}
.font18{font-size:.18rem;}
.font20{font-size:.2rem;}
.font22{font-size:.22rem;}
.font24{font-size:.24rem;}
.font26{font-size:.26rem;}
.font28{font-size:.28rem;}
.font30{font-size:.30rem;}
.font32{font-size:.32rem;}
.font34{font-size:.34rem;}
.font36{font-size:.36rem;}
.font38{font-size:.38rem;}
.font40{font-size:.40rem;}
.font42{font-size:.42rem;}
.font44{font-size:.44rem;}
.font46{font-size:.46rem;}
.font48{font-size:.48rem;}
.font50{font-size:.5rem;}
.font52{font-size:.52rem;}
.font60{font-size:.6rem;}
.font66{font-size:.66rem;}
.font80{font-size:.8rem;}
.font86{font-size:.86rem;}
.empty-img,.empty-icon{width:1.76rem;height:1.67rem;display:block;margin:0 auto;padding-top:.5rem;}
.empty-icon{width:2.8rem;height:2.8rem;}
.empty-btn{line-height:.6rem;padding:0 .5rem;font-size:.3rem;color:#ff7828;border:1px solid #ff7828;border-radius:1rem;display:inline-block;vertical-align:top;}
.empty{text-align:center;padding:.5rem 0!important;margin:0!important;border:0!important;width:100%;color:#999!important;}
.relative{position:relative;}
.absolute{position:absolute;}

.g-border{border:0;position:relative;}
.g-border:visited:before,a:visited .g-border:before{background:none;}
.g-border:before{content:'';height:100%;width:100%;position:absolute;left:0;top:0;-webkit-transform-origin:0 0;transform-origin:0 0;}
@media screen and (-webkit-min-device-pixel-ratio:2){.g-border:before{height:200%;width:200%;-webkit-transform:scale(.5);}}
@media screen and (-webkit-min-device-pixel-ratio:3){.g-border:before{height:300%;width:300%;-webkit-transform:scale(.3333);}}
@media screen and (min-device-pixel-ratio:2){.g-border:before{height:200%;width:200%;transform:scale(.5);}}
@media screen and (min-device-pixel-ratio:3){.g-border:before{height:300%;width:300%;transform:scale(.3333);}}
.g-border-all:before{border:1px solid #e7e7e7;left:-1px;top:-1px;}
.g-border-t:before,.g-border-tb:before{border-top:1px solid #e7e7e7;}
.g-border-b:before,.g-border-tb:before{border-bottom:1px solid #e7e7e7;-webkit-transform-origin:left bottom;transform-origin:left bottom;top:auto;bottom:0;}
.g-border-l:before{border-left:1px solid #e7e7e7;}
.g-border-r:before{border-right:1px solid #e7e7e7;-webkit-transform-origin:right top;transform-origin:right top;left:auto;right:0;}
.g-border-b.g-border-r:before{-webkit-transform-origin:right bottom;transform-origin:right bottom;left:auto;top:auto;right:0;bottom:0;}

.loading-wait{position:fixed;left:0;top:0;bottom:0;right:0;z-index:101;}
.loading-wait:before{content:'';position:fixed;z-index:1;left:50%;top:50%;height:.3rem;width:.3rem;margin:-.19rem 0 0 -.19rem;border:.04rem solid;border-color:rgba(255,255,255,.9) rgba(255,255,255,.5) rgba(255,255,255,.5);border-radius:50%;animation:sunrise 800ms infinite linear;-webkit-animation:sunrise 800ms infinite linear;}
.loading-wait:after{content:attr(data-txt);position:fixed;left:50%;top:50%;padding:.6rem .05rem .1rem;width:1.5rem;margin:-.35rem 0 0 -.8rem;background:rgba(0,0,0,.5);border-radius:.05rem;color:#fff;text-align:center;font-size:.2rem;}
.loading-more{text-align:center;padding:.1rem 0;}
.loading-more:before{content:'';display:inline-block;vertical-align:top;margin:.05rem .05rem 0 0;height:.17rem;width:.17rem;border:.03rem solid;border-color:rgba(0,0,0,.5) rgba(0,0,0,.2) rgba(0,0,0,.2);border-radius:50%;animation:sunrise 800ms infinite linear;-webkit-animation:sunrise 800ms infinite linear;}
.loading-more:after{content:attr(data-txt);}
@keyframes sunrise {
    from{transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-webkit-keyframes sunrise {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}
.flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.flex-cols{-webkit-box-flex:1;-webkit-flex:1;box-flex:1;flex:1;}
.wrapper{margin:auto;overflow:hidden;}

.menu-tab{position:relative;z-index:1;}
.menu-tab:before{border-color:#e9e9e9;}
.menu-tab ul{display:table;table-layout:fixed;width:100%;text-align:center;position:relative;}
.menu-tab li{display:table-cell;}
.menu-tab li a{display:inline-block;vertical-align:top;padding:0 .1rem;font-size:.28rem;line-height:.68rem;white-space:nowrap;color:#333;min-width:.65rem;text-align:center;}
.menu-tab li.cur a{color:#ff7828;}
.menu-tab .line{height:.05rem;background-color:#ff7828;position:absolute;left:0;bottom:0;width:0;}
.menu-tab ul.block li a{padding:0 .16rem;border-bottom:.05rem solid #f8f8f8;}
.menu-tab ul.block li.cur a{border-color:#fc3342;}

.form-tab .icon,.plus-tab .icon,.plus-tab .icon-a:before,.plus-tab-first .icon-a:after,.tool-tips,.checkImg{background:url(../img/global_sprite.png?t=20180102) no-repeat;background-size:5.6rem 5.4rem;}
.form-tab .icon{display:block;width:.4rem;height:.5rem;text-indent:-9999px;overflow:hidden;}
.form-tab .icon-b{background-position:-.4rem 0;}
.form-tab .icon-c{background-position:-.8rem 0;}
.form-tab .icon-d{background-position:-1.2rem 0;}
.form-tab .icon-e{background-position:-1.6rem 0;}
.form-tab .icon-f{background-position:-2rem 0;}
.form-tab .icon-g{background-position:-2.8rem 0;}
.form-tab .icon-h{background-position:-2.4rem 0;}
.form-tab .icon-i{background-position:-3.2rem 0;}
.form-tab .icon-j{background-position:-3.6rem 0;}
.form-tab .icon-k{background-position:-4rem 0;}
.form-tab .icon-l{background-position:-4.4rem 0;}
.form-tab .icon-m{background-position:-4.8rem 0;}
.form-tab .icon-n{background-position:-5.2rem 0;}
.form-tab .icon-o{background-position:-5.2rem -.5rem;}
.form-tab .icon-p{background-position:-4.8rem -2.16rem;}
.form-tab .icon-q{background-position:-5.2rem -2.16rem;}
.form-tab .item{overflow:hidden;position:relative;display:-webkit-box;display:-webkit-flex;display:box;display:flex;background-color:#fff;}
.form-tab a.item:active{background-color:#eee;}
.form-tab a.item:after{content:'';width:.12rem;height:.12rem;border-right:.04rem solid #c7c7cc;border-bottom:.04rem solid #c7c7cc;position:absolute;top:50%;right:.25rem;margin-top:-.08rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.form-tab .label{width:.4rem;padding:.2rem .25rem;}
.form-tab .text{position:relative;-webkit-box-flex:1;-webkit-flex:1;box-flex:1;flex:1;}
.form-tab .text input{border:0;height:.36rem;line-height:.36rem;padding:.27rem 0;background:none;width:100%;font-size:.26rem;}
.form-tab .text input::-webkit-input-placeholder{color:#999;}
.form-tab .show-label .text .input-label,.form-tab .error .text .input-label{opacity:1;}
.form-tab .text .input-label{position:absolute;left:0;top:-.05rem;opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;white-space:nowrap;}
.form-tab .error .input-label{color:#ff989c;}
.form-tab .error:before{border-color:#ff989c;}
.form-tab .del{padding:.2rem 0;position:relative;display:none;}
.form-tab .send{padding-top:.1rem;padding-left:.1rem;position:relative;background-color:#fff;}
.form-tab .send a{font-size:.24rem;padding:0 .35rem;border-radius:1rem;margin-top:.1rem;line-height:.55rem;}
.form-tab .checkbox{text-align:center;line-height:.26rem;}
.form-tab .checkbox input,.form-tab .checkbox label{position:relative;}
.form-tab .checkbox input{width:.26rem;height:.26rem;vertical-align:top;}
.form-tab .checkbox input.checkCover,.checkCover{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
.form-tab .checkbox .tal{text-indent:-.4rem;padding-left:.75rem;}
.form-tab .submit a{display:block;text-align:center;margin:0 .25rem;}
.form-tab .view{padding:.2rem 0 .2rem .2rem;position:relative;}
.form-tab .veil .icon{background-position:-3.2rem 0;}
.form-tab .veri{width:1.42rem;height:.5rem;padding:.2rem .25rem .2rem 0;position:relative;}
.form-tab .read,.form-tab .title{line-height:.36rem;padding-top:.27rem;padding-bottom:.27rem;position:relative;}
.form-tab .prompt{position:absolute;right:0;left:0;z-index:1;margin-top:-.55rem;text-align:center;}
.form-tab .prompt span{color:#fff;background-color:rgba(0,0,0,.4);padding:.1rem .15rem;line-height:.35rem;border-radius:1rem;font-size:.26rem;display:inline-block;vertical-align:top;}
.form-tab .title{-webkit-box-flex:1;-webkit-flex:1;box-flex:1;flex:1;}
.form-tab .tip{line-height:.3rem;padding:.3rem 0;color:#A9A9A9;margin-left:.1rem;}
.form-tab .dot{background-color:#ff7828;color:#fff;font-size:.2rem;padding:.02rem .05rem;height:.24rem;line-height:.24rem;border-radius:.14rem;min-width:.18rem;display:inline-block;text-align:center;}
.form-tab .radio{border:.02rem solid #bfbfbf;background-color:#f5f5f5;height:.32rem;width:.32rem;border-radius:50%;display:inline-block;vertical-align:top;margin-right:.15rem;position:relative;}
.form-tab .radio-checked{background-color:#ff7828;border-color:#ff7828;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.form-tab .radio-checked:after{position:absolute;content:'';height:.08rem;width:.2rem;overflow:hidden;border-left:.04rem solid #fff;border-bottom:.04rem solid #fff;left:50%;top:50%;margin:-.07rem 0 0 -.1rem;}
.form-tab .resize-pd{padding-right:0;padding-left:0;}
.form-tab .remark-circle{padding-left:.28rem;position:relative;line-height:.4rem;}
.form-tab .remark-circle:before{content:'';position:absolute;left:.07rem;top:.16rem;width:.08rem;height:.08rem;border-radius:50%;background:#ff7828;}
.checkImg{display:inline-block;width:.26rem;height:.26rem;border:1px solid #ebebeb;vertical-align:middle;background-position:1rem 1rem;margin:0 .08rem .02rem 0;}
.checkedImg{background-position:-4.95rem -1.32rem;}
.tool-tips{width:.4rem;height:.4rem;background-position:-4.8rem -.56rem;display:inline-block;vertical-align:top;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 25%;transform-origin:0 25%;margin-left:.05rem;}
.circle{width:.08rem;height:.08rem;border-radius:50%;display:inline-block;background:#b3b3b3;margin-right:.1rem;margin-top:-.04rem;margin-left:.07rem;vertical-align:middle;}
.circle-green{background-color:#7ad63c;}
.circle-purple{background-color:#9791ff;}
.circle-blue{background-color:#26a7fb;}
.circle-yellow{background-color:#ff7828;}
.circle-pink{background-color:#ff716f;}
.circle-red{background-color:#fc3342;}

.plus-tab .icon{height:1.6rem;width:1.6rem;line-height:1.6rem;border:5px solid #fff;border-radius:50%;position:relative;margin-bottom:.5rem;opacity:0;-webkit-transition-duration:.5s;transition-duration:.5s;}
.plus-tab .icon:before{content:attr(data-title);color:#fff;font-size:.56rem;position:absolute;top:50%;right:100%;margin-top:-.8rem;padding-right:.5rem;white-space:nowrap;}
.plus-tab .icon-a{background-position:0 -.56rem;border-color:#fc3342;background-color:#fc3342;box-shadow:0 0 .2rem rgba(0,0,0,.25);opacity:1;z-index:1;}
.plus-tab .icon-a:before{background-position:0 -3.76rem;right:0;left:-.4rem;width:2.4rem;height:1.6rem;padding:0;}
.plus-tab .icon-b{background-position:-1.6rem -.56rem;border-color:#ff4546;-webkit-transform:translateY(2.2rem);transform:translateY(2.2rem);}
.plus-tab .icon-c{background-position:-3.2rem -.56rem;border-color:#d95e40;-webkit-transform:translateY(4.4rem);transform:translateY(4.4rem);}
.plus-tab .icon-d{background-position:0 -2.16rem;border-color:#f2992e;-webkit-transform:translateY(6.6rem);transform:translateY(6.6rem);}
.plus-tab .icon-e{background-position:-1.6rem -2.16rem;border-color:#57bf8b;-webkit-transform:translateY(8.8rem);transform:translateY(8.8rem);}
.plus-tab .icon-f{background-position:-3.2rem -2.16rem;border-color:#4bacdd;-webkit-transform:translateY(11rem);transform:translateY(11rem);}
.plus-tab-first .icon-a:after{position:absolute;content:'';bottom:-.2rem;left:50%;width:1.5rem;height:.6rem;margin-left:-.75rem;background-position:-2.4rem -3.76rem;}
.plus-list,.plus-btn{position:fixed;z-index:-1;right:.2rem;bottom:1.3rem;-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:scale(.5);transform:scale(.5);}
.plus-btn{bottom:.2rem;z-index:105;cursor:move;}
.plus-shade{opacity:0;}
.plus-on .plus-shade{position:fixed;z-index:105;left:0;right:0;bottom:0;top:0;background-color:rgba(25,43,66,.85);opacity:1;}
.plus-on .plus-btn .icon-a{-webkit-transform:rotate(45deg);transform:rotate(45deg);background-color:transparent;border-color:#fff;box-shadow:none;}
.plus-on .icon{opacity:1;}
.plus-on .icon-b{-webkit-transform:translateX(-.35rem);transform:translateX(-.35rem);}
.plus-on .icon-c{-webkit-transform:translateX(-.7rem);transform:translateX(-.7rem);}
.plus-on .icon-d{-webkit-transform:translateX(-1.4rem);transform:translateX(-1.4rem);}
.plus-on .icon-e{-webkit-transform:translateX(-2.2rem);transform:translateX(-2.2rem);}
.plus-on .icon-f{-webkit-transform:translateX(-3.4rem);transform:translateX(-3.4rem);}
.plus-on .icon:before{-webkit-transform:translateX(0);transform:translateX(0);}
.plus-on .icon-a:before{content:none;}

.jump-box{text-align:center;font-size:.24rem;padding:.5rem 0;}
.jump-box img{width:.32rem;height:.32rem;}

.button-default,.button-disabled,.button-gray,.button-white,.button-pink,.button-yellow,.button-orange{padding:.2rem .4rem;line-height:.4rem;font-size:.32rem;display:block;text-align:center;}
.button-default{background-color:#ff7828;color:#fff;border-radius:.05rem;}
.button-default:before,.button-disabled:before,.button-gray:before,.button-pink:before,.button-yellow:before{display:none;}
.button-orange{border:1px solid #ff7828;color:#ff7828;border-radius:.05rem;background-color:#fff;}
.button-disabled{background-color:#fff;color:#999;cursor:default;border-radius:.05rem;border-color:#ddd;}
.button-white{border:1px solid #707070;color:#666;border-radius:.05rem;background:#f8f8f8;}
.button-gray{background-color:#999;color:#fff;border-radius:.05rem;}
.button-yellow{background-color:#ffe1d1;color:#ff7828;border-radius:.05rem;}
.button-pink{border:1px solid #ff7828;color:#ff7828;background-color:#f8f8f8;border-radius:.05rem;}
.button-lose{background:#ec5252;padding:0.1rem 0.18rem;color:white;font-size:0.24rem;display:inline-block;border-radius:0.3rem;border:0.02rem solid #ec4a4a;}

.dialogbox{position:fixed;z-index:202;left:0;top:0;height:100%;width:100%;display:table;}
.dialogbox-main{display:table-cell;vertical-align:middle;text-align:center;}
.dialogbox-wrap,.iframe-dialog-tips{animation:dialogscale 300ms ease-out;-webkit-animation:dialogscale 300ms ease-out;}
.dialogbox-wrap{border-radius:.05rem;width:75%;max-width:5rem;display:inline-block;}
.dialogbox-wrap-free{width:auto;max-width:none;border:0;}
.dialogbox-wrap-free img{max-width:100%;}
.dialogbox-title{padding:.25rem .25rem 0;font-size:.3rem;color:#333;text-align:center;}
.dialogbox-body{background:#fff;border-radius:.2rem;}
.dialogbox-overlay{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.5);z-index:201;}
.dialogbox-tips{text-align:center;font-size:.26rem;padding:.3rem;}
.dialogbox-tips .icon-succ{display:block;width:2.1rem;margin:0.1rem auto .2rem;height:2.1rem;background:url(../img/dialogbox_tips_icon.png) no-repeat;background-size:2.1rem;}
.dialogbox-btn{display:table;width:100%;text-align:center;}
.dialogbox-btn a{display:table-cell;font-size:.32rem;color:#ff7828;padding:.2rem 0;min-width:.5rem;cursor:pointer;}
.dialogbox-btn a:first-child{color:#666;}
.dialogbox-btn a:last-child{color:#ff7828;}
.dialogbox-btn a:first-child:before{display:none;}
.dialogbox-loading{background:url(../img/loading_small.gif) no-repeat 50% 50%;height:50px;width:50px;margin:auto;}
.dialogbox-figure{position:absolute;width:5rem;height:2rem;left:50%;bottom:0;margin:0 0 .02rem -2.5rem;}
.dialogbox div.dialogbox-figure{background:url(../img/dialogbox_figure_tips.png) no-repeat center top;background-size:100% auto;height:2.2rem;}
.dialogbox-close{position:relative;}
.dialogbox-close a{height:.7rem;width:.7rem;box-shadow:0 0 0 1px #fff;position:absolute;left:50%;top:100%;margin:.4rem 0 0 -.35rem;border-radius:50%;}
.dialogbox-close a:before,.dialogbox-close a:after{content:'';width:1px;height:.4rem;background-color:#fff;position:absolute;left:50%;top:50%;margin-top:-.2rem;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.dialogbox-close a:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.dialogPrompt{position:fixed;z-index:202;max-width:4rem;text-align:center;left:0;top:30%;padding:.1rem .25rem;background-color:#000;background-color:rgba(0, 0, 0, .8);opacity:0;color:#fff;border-radius:.25rem;-webkit-transition:opacity .5s ease-out;transition:opacity .5s ease-out;}
.dialogPromptIn{opacity:1;}

.single-detail{padding:.25rem .25rem .5rem;}
.single-detail p{margin:.2rem 0 0;text-indent:2em;line-height:1.8;font-size:.25rem;}
.single-detail .title{font-size:.3rem;text-align:center;padding-bottom:.1rem;}
.single-detail .table,.iframe-dialog .table{margin:.2rem 0;border:1px solid #ccc;font-size:.18rem;}
.single-detail .table ul,.iframe-dialog .table ul{overflow:hidden;}
.single-detail .table ul:last-child li:last-child,.iframe-dialog .table ul:last-child li:last-child{border:0;}
.single-detail .table li,.iframe-dialog .table li{overflow:hidden;border-bottom:1px solid #ccc;background-color:#fafafa;}
.single-detail .label,.iframe-dialog .label{width:1.8rem;float:left;border-left:1px solid #ccc;padding:.08rem 0 .08rem .25rem;margin-left:-1px;color:#888;}
.single-detail .data,.iframe-dialog .data{overflow:hidden;display:block;padding:.08rem .25rem;border-left:1px solid #ccc;background-color:#fff;min-height:.27rem;}
.single-detail .cols,.iframe-dialog .cols{border-bottom:1px solid #ccc;padding:.08rem 0;text-align:center;background-color:#fafafa;}

.iframe-dialog{position:absolute;left:0;top:0;right:0;bottom:0;min-height:100%;min-width:100%;max-width:100%;z-index:100;background-color:#fff;}
.iframe-dialog-tips{background-color:rgba(255,255,255,.9);overflow:auto;}
.iframe-dialog-close{position:fixed;left:0;right:0;bottom:0;background-color:#fff;text-align:center;z-index:101;height:1rem;cursor:pointer;}
.iframe-dialog-close:before,.iframe-dialog-close:after{content:'';height:.4rem;width:.02rem;background-color:#717171;position:absolute;left:50%;top:50%;margin:-.19rem 0 0 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.iframe-dialog-close:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.iframe-dialog-close span{position:absolute;width:.7rem;height:.7rem;border:.02rem solid #717171;border-radius:50%;left:50%;top:50%;margin:-.36rem 0 0 -.36rem;}
.iframe-dialog-wrap{padding:1.2rem .66rem;}
.iframe-dialog-title{padding-bottom:.35rem;text-align:center;font-size:.36rem;line-height:1;}
.iframe-dialog-content{padding-top:.2rem;line-height:.36rem;}
@keyframes dialogscale {
    from{transform:scale(0);opacity:0;}
    to {transform:scale(1);opacity:1;}
}
@-webkit-keyframes dialogscale {
    from {-webkit-transform:scale(0);opacity:0;}
    to {-webkit-transform:scale(1);opacity:1;}
}

/*优惠券弹窗*/
.coupon-dialog{position:fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.6);z-index:203;display:table;width:100%;height:100%;}
.coupon-dialog .table-cell{display:table-cell;vertical-align:middle;}
.coupon-dialog-con{max-width:6.4rem;width:4.6rem;margin:0 auto;padding:.3rem 0 .25rem;position:relative;background-color:#ff623a;border-radius:.1rem;}
.coupon-dialog-con:before,.coupon-dialog .close,.coupon-dialog .more a:after{background:url(../img/coupon_dialog.png?t=20180110) no-repeat;background-size:6.4rem auto;}
.coupon-dialog-con:before{content:'';position:absolute;left:50%;top:-1.38rem;margin-left:-3.2rem;width:6.4rem;height:3.7rem;}
.coupon-dialog .title{text-align:center;color:#fff;font-size:.36rem;padding-bottom:.1rem;line-height:.7rem;vertical-align:top;}
.coupon-dialog .title .yellow{font-size:.56rem;color:#ffef37;}
.coupon-dialog .list{max-height:3.45rem;overflow:auto;margin:0 .25rem;background-color:#fff3c8;border-radius:.2rem;position:relative;}
.coupon-dialog .list li{margin:.15rem;border-radius:.04rem;}
.coupon-dialog .value{width:1.8rem;text-align:center;font-size:.26rem;line-height:.6rem;border-right:1px dashed #ddd;color:#f75963;}
.coupon-dialog .item{overflow:hidden;height:.6rem;padding:.2rem 0 .15rem;position:relative;background-color:#fff;}
.coupon-dialog .item:after{content:'';top:0;left:0;right:0;position:absolute;height:.04rem;border-radius:.04rem .04rem 0 0;border-top:.02rem solid #f75963;background:#f75963;background:radial-gradient( #fff 0px, #fff .03rem, #f75963 .03rem, #f75963);background:-webkit-radial-gradient( #fff 0px, #fff .03rem, #f75963 .03rem, #f75963);background-size:.1rem .1rem;background-position:center 0;}
.coupon-dialog .item-coin:after{border-top:.02rem solid #ff9b0b;background:#ff9b0b;background:radial-gradient( #fff 0px, #fff .03rem, #ff9b0b .03rem, #ff9b0b);background:-webkit-radial-gradient( #fff 0px, #fff .03rem, #ff9b0b .03rem, #ff9b0b);background-size:.1rem .1rem;background-position:center 0;}
.coupon-dialog .item-coin .value{color:#ff9b0b;}
.coupon-dialog .item-plus:after{border-top:.02rem solid #4f9be8;background:#4f9be8;background:radial-gradient( #fff 0px, #fff .03rem, #4f9be8 .03rem, #4f9be8);background:-webkit-radial-gradient( #fff 0px, #fff .03rem, #4f9be8 .03rem, #4f9be8);background-size:.1rem .1rem;background-position:center 0;}
.coupon-dialog .item-plus .value{color:#4f9be8;}
.coupon-dialog .more{text-align:center;padding-top:.25rem;}
.coupon-dialog .more a{color:#fff1c8;font-size:.24rem;display:inline-block;vertical-align:top;border:1px solid #fff1c8;line-height:.36rem;padding:0 .25rem;border-radius:1rem;}
.coupon-dialog .more a:after{content:'';height:.21rem;width:.13rem;background-position:-.6rem -3.7rem;display:inline-block;vertical-align:top;margin:.075rem 0 0 .05rem;}
.coupon-dialog .close{width:.6rem;height:.6rem;position:absolute;right:0;top:0;background-position:0 -3.7rem;}

/*客服*/
.global-hotline{text-align:center;height:.81rem;padding:.5rem 0;}
.global-hotline .int{position:fixed;left:0;right:0;bottom:0;padding:.5rem 0;}
.global-hotline .info{font-size:.2rem;color:#777;}
.global-hotline .mobile{font-size:.38rem;color:#ea5504;position:relative;line-height:.46rem;display:inline-block;vertical-align:top;margin-top:.05rem;}
.global-hotline .mobile:before{content:'';width:.42rem;height:.42rem;border:.02rem dotted #ff7828;display:inline-block;vertical-align:top;margin-right:.15rem;border-radius:50%;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA+CAMAAABEH1h2AAAAM1BMVEUAAADqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqVQTqRsY0AAAAEHRSTlMAn8Sw0knsHQ0va5Bb9eV+e5DuZQAAATFJREFUSMetlluOwzAIRf02ju3k7n+1I80rk6I6vWXOZ6UjMFCI+0a2hOmre48x8Ul+RxaPHxpv14RfdmHtVvCHzsaeOOHTD7gSudQBGMJ3pXtGT1AIoUOz2fRg00GM/oQmm0qH43XdA5bWDcAyOBXGubFN7YEHkmOouu4UUXWdoqmnmxZGJfVsi+6C+r8aXl8ci7eFl2kqnhtq3Vhmp9Ppl/+sPgbrb0a/w5Z/hKl+knAhkP2vOy7MbPMRrwlIPtrSL3ggZvky2+gBAEKmfGDu++XXlBf+xD2hUfE1XWx+yTYfx7J/9/infrL5EvAK46kf8QJpuX3vYS63Zq6P1x3RrWiTKZ2mBqwo5ALkPyQyMTXUA5IQF4C2T2qEIgpzwgJsRyRHnPTqaGTzO4Dkx5n3BzUrUVdNvJ4zAAAAAElFTkSuQmCC) no-repeat center center;background-size:.26rem;}

/*页面丢失*/
.failure{display:table-cell;vertical-align:middle;text-align:center;padding:.5rem 0;}
.failure img{width:2.8rem;height:2.8rem;}
.failure .txt{font-size:.24rem;color:#999;padding-top:.1rem;max-width:6rem;margin:auto;}
.failure .button-white{border:1px solid #707070;color:#666;padding:.05rem .5rem;min-width:1.2rem;border-radius:.05rem;display:inline-block;font-size:.24rem;}